{% include 'partials/header.html' %}

<form action="todo/add" method="post">
{% csrf_token %}

    <label for="title">Title</label><br>
    <input type="text" name ="title" id="title">
    <br>

    <label for="text">Text</label><br>
    <textarea type="text" name ="body" id="body"></textarea>
    <br>

    <select name="user" id="user">
        {% for user in todoUsers %}
            <option value="{{ user.username}}"> {{ user.username}}</option>
        {% endfor %}
    </select>
    <br>

    <label for="todo_date">Todo date</label><br>
    <input type="date" name ="todo_date" id="todo_date">
    <br>
    <br>

    <input type="submit" value="Submit">


</form>
<br>
<a href="/todo">Go Back</a>

{% include 'partials/footer.html' %}