{% include 'partials/header.html' %}
<H1>{{ todo.title }}</H1>
Todo Body: {{ todo.body }}
<br>
Todo Date: {{ todo.todo_date }}
<br>
<br>
<a href="/todo">Go Back</a>
{% include 'partials/footer.html' %}