{% include 'partials/header.html' %}

<form action="{% url 'edit' %}" method="post">
{% csrf_token %}

    <label for="id">Id</label><br>
    <input type="text" name ="id" id="id" value="{{ todo.id }}" readonly="readonly">
    <br>

    <label for="title">Title</label><br>
    <input type="text" name ="title" id="title" value="{{ todo.title }}">
    <br>

    <label for="text">Text</label><br>
    <textarea type="text" name ="body" id="body">{{ todo.body }}</textarea>
    <br>


    <label for="todo_date">Todo date</label><br>
    <input type="date" name ="todo_date" id="todo_date"
           value="{{ todo.todo_date.year }}-{{ todo.todo_date.month }}-{{ todo.todo_date.day }}">
    <br>
    <br>

    <input type="submit" value="Submit">


</form>
<br>
<a href="/todo">Go Back</a>

{% include 'partials/footer.html' %}