{% include 'partials/header.html' %}
<H2>List of Todos for user: {{ user.username }}</H2>
<table>
    <tr>
        <th>Title</th>
        <th>Todo Date</th>
        <th>Edit/Delete</th>
    </tr>
    {% for todo in todos %}
        <tr>
            <td><a href="/todo/detail/{{ todo.id }}">{{ todo.title }} </a></td>
            <td>{{ todo.todo_date }}</td>
            <td>
                <a href="/todo/edit/{{ todo.id }}">Edit</a>
                <a href="/todo/delete/{{ todo.id }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>

<br>

<a href="/todo/add/">Add Todo</a>
<a href="/todo">Go Back</a>

{% include 'partials/footer.html' %}