{% include 'partials/uheader.html' %}

<form action="user/add" method="post">
{% csrf_token %}

    <label for="username">Username</label><br>
    <input type="username" name ="username" id="username">
    <br>

    <label for="first_name">First Name</label><br>
    <input type="first_name" name ="first_name" id="first_name">
    <br>

    <label for="last_name">Last Name</label><br>
    <input type="last_name" name ="last_name" id="last_name">
    <br>

    <label for="email">Email</label><br>
    <input type="email" name ="email" id="email">
    <br>

    <br>
    <br>

    <input type="submit" value="Submit">


</form>
<br>
<a href="/user">Go Back</a>

{% include 'partials/ufooter.html' %}