{% include 'partials/uheader.html' %}
<H1>{{ user.username }}</H1>
First Name: {{ user.first_name }}
<br>
Last Name: {{ user.last_name }}
<br>
Email: {{ user.email }}
<br>
<a href="/user">Go Back</a>
{% include 'partials/ufooter.html' %}