{% include 'partials/uheader.html' %}
<table>
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    {% for user in users %}
        <tr>
            <td><a href="/user/detail/{{ user.id }}">{{ user.username }} </a></td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
    {% endfor %}
</table>

<br>

<a href="/user/add/">Add User</a>


{% include 'partials/ufooter.html' %}